@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;

  // @media screen and (min-width: 321px) {
  //   max-width: 1200px;
  // }

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}
