.toggle-list-button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  right: 15px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;

  &:hover > .movie-list__star-icon,
  &:focus > .movie-list__star-icon {
    fill: gold;
  }

  @media screen and (max-width: 425px) {
    top: 118px;
  }
}

.favorite-box {
  position: fixed;
  top: 85px;
  right: 40px;
  width: 300px;
  height: 600px;
  padding: 15px;
  background-color: rgb(204, 198, 198);
  border-radius: 5px;
  transition: opacity 0.4s ease-in-out;

  @media screen and (max-width: 425px) {
    top: 163px;
    right: 15px;
    width: calc(100vw - 30px);
  }

  &__title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
    padding: 10px 0;
    font-weight: normal;
  }

  &__list {
    height: 500px;
    overflow-y: auto;
  }

  &__list-item {
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      background-color: gold;
      border-radius: 50%;
    }
  }

  &__movie-name {
    display: inline-block;
    font-size: 17px;
    width: 70%;
    padding: 2px;
  }

  &__button-delete {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  &__delete-icon {
    width: 30px;
    height: 30px;

    &:hover,
    &:focus {
      fill: rgb(253, 52, 52);
    }
  }
}
