.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 800px;
  padding: 50px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;

  &__img-box {
    position: relative;
  }

  &__img-tumb {
    width: 240px;
    height: 330px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 5px;
  }

  &__image {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__year {
    display: block;
    font-weight: bold;
    text-align: center;
  }

  &__genres-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;

    & li {
      height: 30px;
      width: 100px;
      margin-top: 10px;
      padding: 5px;
      color: #fff;
      background-color: rgb(173, 169, 169);
      border-radius: 5px;
      text-align: center;
    }
  }

  &__description-box {
    margin-left: 40px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__about-text,
  &__director {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__starring-box {
    display: flex;
    font-size: 18px;

    & > span {
      display: inline-block;
      margin-right: 7px;
    }
  }

  &__starring-list {
    list-style: none;
  }

  &__button-delete {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 33px;
    height: 33px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
    cursor: pointer;

    &:hover .modal__delete-icon,
    &:focus .modal__delete-icon {
      fill: red;
    }
  }

  &__delete-icon {
    width: 30px;
    height: 30px;
  }
}
